<div
    class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
    <div class="flex flex-col items-center justify-center">
        <div
            style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
            <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">
                <div class="text-center mb-8">
                    <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">
                        Create an Account
                    </div>
                    <span class="text-muted-color font-medium">Register to get started</span>
                </div>

                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <!-- Full Name -->
                    <label for="username"
                        class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Full Name</label>
                    <input pInputText id="username" type="text" placeholder="Enter Your Name" formControlName="username"
                        class="w-full md:w-[30rem] mb-8" />

                    <!-- Email -->
                    <label for="email"
                        class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Email</label>
                    <input pInputText id="email" formControlName="email" type="email" placeholder="Email address"
                        class="w-full md:w-[30rem] mb-8" />

                    <!-- Password -->
                    <label for="password"
                        class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Password</label>
                    <p-password id="password" placeholder="Password" styleClass="w-full md:w-[30rem] mb-8"
                        inputStyleClass="w-full" [feedback]="false" formControlName="password">
                    </p-password>

                    <!-- Confirm Password -->
                    <label for="confirmPassword"
                        class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Confirm Password</label>
                    <p-password id="confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword" 
                        styleClass="w-full md:w-[30rem] mb-8" inputStyleClass="w-full" [feedback]="false">
                    </p-password>

                    <!-- Terms and Conditions -->
                    <div class="flex items-center mb-8">
                        <p-checkbox id="terms" binary class="mr-2" formControlName="terms"></p-checkbox>
                        <label for="terms">I agree to the Terms and Conditions</label>
                    </div>

                    <!-- Register Button -->
                    <p-button label="Register" styleClass="w-full" type="submit" [disabled]="registerForm.invalid"></p-button>

                    <!-- Already have account -->
                    <div class="text-center mt-6 text-muted-color">
                        Already have an account?
                        <a routerLink="/login" class="text-primary font-medium cursor-pointer">Sign In</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
